// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// MY OWN SECTION

// END OF MY OWN SECTION


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  	
  	.dataTransferButton .v-icon {
  		font-size: 20px;
  		color: #00f922;
  		font-weight: bold;
  	}
  	
  	.valo-menu-item-caption {
  		min-width: 100px;
  	}
  
  	
	.v-table .v-table-cell-content-red {
    	color: white;
    	.v-button {
    		background-color: red;
    		border: 1px solid blue;
    	}
	}

	.v-table .v-table-cell-content-green {
		
 	   color: white;
 		.v-button {
    		background-color: #009B3E;
    		border: 1px solid blue;
    	}
	} 
	
	.v-table-cell-content-redField {
		background-color: red;
		color: white;
	}
	
	.v-table-cell-content-greenField {
		background-color: #009B3E;
		color: white;
	}
	
	/*
	.v-table .v-button {
	  height: 100%;
	  width: 100%;
	  text-decoration: none;
	  color: black;
	  border: none;
	}
	*/
	
	.v-button-GREEN {
		background: #00731F;	
		color: white;	
	}
	
	.v-button-RED {
		background: #B00000;
		color: white;
	}
	
	.v-button-YELLOW {
		background: #F7D701;
	}
	
	.v-label-logs {
    	font-size: 14px;
   		line-height: 200%;
    	font-family: Courier New,Courier;
	}
	
	.v-label-serverDesc {
		font-weight: bold;
	}
	
	.v-verticallayout-contentLayout {
      min-width: 1000px !important;
 	}
 	
 	.v-label-centered {
 		 text-align: center;
 	}
	
}
